palette.pdf
palette.spec
build/palette/Analysis-00.toc
build/palette/base_library.zip
build/palette/EXE-00.toc
build/palette/palette.exe.manifest
build/palette/palette.pkg
build/palette/PKG-00.toc
build/palette/PYZ-00.pyz
build/palette/PYZ-00.toc
build/palette/Tree-00.toc
build/palette/Tree-01.toc
build/palette/Tree-02.toc
build/palette/warn-palette.txt
build/palette/xref-palette.html
build/palette/localpycs/pyimod01_archive.pyc
build/palette/localpycs/pyimod02_importers.pyc
build/palette/localpycs/pyimod03_ctypes.pyc
build/palette/localpycs/pyimod04_pywin32.pyc
build/palette/localpycs/struct.pyc
dist/palette.exe
